!!!
%html{lang: 'en'}
  %head
    %title Never miss your movie
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=devise-width, initial-scale=1'}
  %body
    .navbar.navbar-default.navbar-static-top{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"} nmym
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "#"} Watch List
            %li
              %a{:href => "#about"} About
            %li
              %a{:href => "#contact"} Contact
    .container
      = render 'shared/flashes'
      = yield

    = javascript_include_tag 'application'
