!!!
%html{lang: 'en'}
  %head
    %title Never miss your movie
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
  %body.auth
    .container
      = render 'shared/flashes'
      .row.vertical-offset-100
        .col-md-4.col-md-offset-4
          .panel.panel-default
            .panel-heading
              = link_to image_tag('logo_full.png', alt: 'Never Miss Your Movie', class: 'img-responsive'), root_path
            = yield

    = javascript_include_tag 'application'
